.terminal-container {
	height: 480px;
	width: 640px;
	color: #eee;
	background: #333;
	overflow-y: auto;
	padding: 5px;
}

.terminal-interface {
	padding: 0px;
	margin: 0px;
	outline: none;
	width: 100%;
	max-width: 100%;
	white-space: break-spaces;
	word-break: break-all;
}
